* {
    @apply m-0 p-0 box-border;
    font-family: 'Times New Roman', serif;
}

a {
    @apply decoration-none text-green;
}

button {
    @apply bg-green text-white font-bold p-2 rounded-md border-0;
}

input, textarea {
    @apply bg-green/10 font-bold p-2 rounded-md border-0 backdrop-blur-sm;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-green uppercase font-normal text-right leading-none;
    font-family: 'Times New Roman', serif;
    letter-spacing: -0.03em;
}