@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    @apply m-0 p-0 box-border;
    font-family: 'Montserrat', sans-serif;
}

a {
    @apply decoration-none text-green;
}

a:hover {
    @apply opacity-80;
}

button {
    @apply bg-green text-white font-bold p-2 rounded-md border-0 cursor-pointer hover:opacity-80;
}

button[disabled] {
    @apply opacity-50 cursor-not-allowed;
}

input,
textarea {
    @apply bg-green/10 font-bold p-2 rounded-md border-0 backdrop-blur-sm hover:bg-green/20;
}

input[readonly] {
    @apply cursor-not-allowed;
}

h1.display {
    font-family: 'Times New Roman', serif;
    line-height: 0.8;
    @apply uppercase font-normal text-right;
}

h2 {
    font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-green font-bold;
    letter-spacing: -0.03em;
}

img {
    @apply max-w-full object-cover;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    @apply mt-6 mb-4;
}

.post-content hr {
    @apply my-4;
}

.post-content img {
    @apply max-h-64 object-cover block mx-auto rounded-md shadow-md mb-4;
}

.post-content p {
    @apply leading-6 my-4;
}

.post-content ul,
.post-content ol {
    @apply ml-4;
}

.post-content li {
    @apply ml-8;
}

.post-content table td,
.post-content table th {
    @apply p-2;
}

.post-content a {
    @apply font-bold;
}